API FINTECH CONSULTA
{
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.anossafintech.com.br/inss/v1/operation?data_inicio={{ $json.data_inicio }}&data_fim={{ $json.data_fim }}&por_pagina=200000",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        160
      ],
      "id": "816f3f49-0472-4d69-a892-ac15433d2f6b",
      "name": "HTTP Request1",
      "executeOnce": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "gmhYkBMFG2KhX89K",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const inicio = new Date(\"2025-03-18\");\n// data_fim = ontem\nconst hoje = new Date();\nconst limite = new Date();\nlimite.setDate(hoje.getDate() - 1);\nconst periodos = [];\nlet dataInicio = new Date(inicio);\n\nwhile (dataInicio <= limite) {\n  const dataFinal = new Date(dataInicio);\n  dataFinal.setDate(dataFinal.getDate() + 1);\n  // Ajuste se data_final ultrapassar ontem\n  const dataFinalCorrigida = dataFinal > limite ? limite : dataFinal;\n  periodos.push({\n    data_inicio: dataInicio.toISOString().split(\"T\")[0],\n    data_fim: dataFinalCorrigida.toISOString().split(\"T\")[0],\n  });\n  // Próximo intervalo começa no dia seguinte ao fim atual\n  const proximo = new Date(dataFinalCorrigida);\n  proximo.setDate(proximo.getDate() + 1);\n  dataInicio = proximo;\n}\n\nreturn periodos.map((p, index) => ({ \n  json: {\n    indice: index + 1,\n    ...p\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        160
      ],
      "id": "768d37d7-b07f-407d-b904-caeab77b5c94",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anossafintech.com.br/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cpf",
              "value": "05134108560"
            },
            {
              "name": "promot_id",
              "value": "1"
            },
            {
              "name": "password",
              "value": "Alcif@2026"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        160
      ],
      "id": "669113c4-354c-417f-aa7d-5272cb91f3d5",
      "name": "Consulta Token"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -128
      ],
      "id": "5e1cfff5-8b97-4775-8607-1756047cdf00",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// Item principal do loop\nconst item = $('Loop Over Items1').first()?.json || {};\n\n// Dados da operação (caso existam)\nconst op = $input.first()?.json?.operation || {};\n\n// Captura histories independente do local\nconst histories =\n  Array.isArray($input.first()?.json?.operation?.histories)\n    ? $input.first().json.operation.histories\n    : Array.isArray($input.first()?.json?.histories)\n      ? $input.first().json.histories\n      : [];\n\n// Função para montar o registro\nfunction montarRegistro(base, hist = null, totalHist = 0) {\n  return {\n    json: {\n      // CAMPOS EXISTENTES\n      cpf: item.cpf ?? base.cpf ?? null,\n      dat_emprestimo_completo: item.dat_emprestimo_completo ?? base.dat_emprestimo_completo ?? null,\n      debt_key: item.debt_key ?? base.debt_key ?? null,\n      dsc_tipo_proposta_emprestimo: item.dsc_tipo_proposta_emprestimo ?? base.dsc_tipo_proposta_emprestimo ?? null,\n      dsc_situacao_emprestimo: item.dsc_situacao_emprestimo ?? base.dsc_situacao_emprestimo ?? null,\n      id: item.id ?? base.id ?? null,\n      nic_ctr_usuario: item.nic_ctr_usuario ?? base.nic_ctr_usuario ?? null,\n      nom_cliente: item.nom_cliente ?? base.nom_cliente ?? null,\n      num_contrato: item.num_contrato ?? base.num_contrato ?? null,\n      qtd_parcela: item.qtd_parcela ?? base.qtd_parcela ?? null,\n      val_liquido: item.val_liquido ?? base.val_liquido ?? null,\n      val_emissao: item.val_emissao ?? base.val_emissao ?? null,\n\n      // CAMPOS NOVOS DO OPERATION\n      dat_credito: item.dat_credito ?? base.dat_credito ?? null,\n      link_cmp_pgmt: item.link_cmp_pgmt ?? base.link_cmp_pgmt ?? null,\n      has_insurance: item.has_insurance ?? base.has_insurance ?? null,\n      val_seguro: item.val_seguro ?? base.val_seguro ?? null,\n      marital_status: item.marital_status ?? base.marital_status ?? null,\n      related_party_key: item.related_party_key ?? base.related_party_key ?? null,\n      first_installment_value: item.first_installment_value ?? base.first_installment_value ?? null,\n      first_installment_date: item.first_installment_date ?? base.first_installment_date ?? null,\n      credit_operation_key: item.credit_operation_key ?? base.credit_operation_key ?? null,\n      process_id: item.process_id ?? base.process_id ?? null,\n      unico_score: item.unico_score ?? base.unico_score ?? null,\n      serpro_score: item.serpro_score ?? base.serpro_score ?? null,\n      credit_type: item.credit_type ?? base.credit_type ?? null,\n      assistance_type: item.assistance_type ?? base.assistance_type ?? null,\n      balance_request_info: item.balance_request_info ?? base.balance_request_info ?? null,\n      benefit_state: item.benefit_state ?? base.benefit_state ?? null,\n      legal_representative: item.legal_representative ?? base.legal_representative ?? null,\n      created_at: item.created_at ?? base.created_at ?? null,\n      modified_at: item.modified_at ?? base.modified_at ?? null,\n      policy_number: item.policy_number ?? base.policy_number ?? null,\n      in100: item.in100 ?? base.in100 ?? null,\n      purchaser: item.purchaser ?? base.purchaser ?? null,\n      op_stage_id: item.op_stage_id ?? base.op_stage_id ?? null,\n      requester_identifier_key: item.requester_identifier_key ?? base.requester_identifier_key ?? null,\n      bank_name: item.bank_name ?? base.bank_name ?? null,\n\n      // CAMPOS DO HISTÓRICO\n      historico_id: hist?.id ?? null,\n      historico_debt_key: hist?.debt_key ?? null,\n      historico_credit_operation_key: hist?.credit_operation_key ?? null,\n      historico_status: hist?.status ?? null,\n      historico_description: hist?.description ?? null,\n      historico_event_datetime: hist?.event_datetime ?? null,\n\n      //quantidade_historicos: totalHist\n    }\n  };\n}\n\n// ----------------------------------------------------\n// SE TEM HISTÓRICOS → GERA UMA LINHA POR HISTÓRICO\n// ----------------------------------------------------\nif (histories.length > 0) {\n  return histories.map(h => montarRegistro(op, h, histories.length));\n}\n\n// ----------------------------------------------------\n// NÃO TEM HISTÓRICO → APENAS 1 LINHA\n// ----------------------------------------------------\nreturn [ montarRegistro(op, null, 0) ];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -128
      ],
      "id": "91eae9ec-cf46-4d2a-9770-1e039172c30a",
      "name": "Code2",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        160
      ],
      "id": "93c96456-53db-4644-94a8-f1187b05e629",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.anossafintech.com.br/inss/v1/operation/{{ $json.debt_key }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -128
      ],
      "id": "3cabb9ee-394c-4ff1-8657-9437a5660ce8",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "gmhYkBMFG2KhX89K",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        -128
      ],
      "id": "6e5ea255-def4-4a0f-805f-acd990d4b452",
      "name": "Wait1",
      "webhookId": "48fcf39a-c2e7-4da9-ae22-123ff2f53203"
    },
    {
      "parameters": {
        "binaryPropertyName": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        64,
        -320
      ],
      "id": "5b3b2a90-0a60-43ae-8e27-382d64a7bc06",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "const operacoes = $json.operacoes;\n\nfunction formatarData(dataRaw) {\n  if (!dataRaw) return null;\n\n  const d = new Date(dataRaw);\n\n  const dia = String(d.getDate()).padStart(2, '0');\n  const mes = String(d.getMonth() + 1).padStart(2, '0');\n  const ano = d.getFullYear();\n\n  const hora = String(d.getHours()).padStart(2, '0');\n  const min = String(d.getMinutes()).padStart(2, '0');\n  const seg = String(d.getSeconds()).padStart(2, '0');\n\n  return {\n    data: `${dia}/${mes}/${ano}`,\n    hora: `${hora}:${min}:${seg}`,\n    completo: `${dia}/${mes}/${ano} ${hora}:${min}:${seg}`\n  };\n}\n\nreturn operacoes.map(op => {\n\n  const dataFormatada = formatarData(op.dat_emprestimo);\n\n  return {\n    json: {\n      cpf: op.cpf,\n      //dat_emprestimo_data: dataFormatada?.data,\n      //dat_emprestimo_hora: dataFormatada?.hora,\n      dat_emprestimo_completo: dataFormatada?.completo,\n\n      debt_key: op.debt_key,\n      credit_operation_key: op.credit_operation_key,\n      dsc_tipo_proposta_emprestimo: op.dsc_tipo_proposta_emprestimo,\n      dsc_situacao_emprestimo: op.dsc_situacao_emprestimo,\n      id: op.id,\n      nic_ctr_usuario: op.nic_ctr_usuario,\n      nom_cliente: op.nom_cliente,\n      num_contrato: op.num_contrato,\n      qtd_parcela: op.qtd_parcela,\n      val_liquido: op.val_liquido,\n      val_emissao: op.val_emissao,\n      link_nuvidio_invite: op.link_nuvidio_invite\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        160
      ],
      "id": "e9afa982-7a1a-4feb-a9f9-f8ce504d5747",
      "name": "Code1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "/root/Debitos/File.csv"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        288,
        -320
      ],
      "id": "32b66ee0-add0-47af-8818-f5d6da55badf",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "YRJ30X3lRMVmm1yy",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Matheus",
        "remoteJid": "5573998112304",
        "messageText": "API Fintech🚀🏦\nRodou com sucesso e o arquivo já foi adicionado ao nosso FileZilla ✅",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        -320
      ],
      "id": "9ce25cfb-9b2a-40b7-8c95-b03688f2951d",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "Vt2MjiBepwghEZFo",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -832,
        160
      ],
      "id": "f59f4fee-b861-4525-914b-71a7b167a815",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        160
      ],
      "id": "1018eed8-c0ec-46c3-9fa9-c753c31d2083",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        240
      ],
      "id": "ac28e60a-e31c-4cd4-b236-518408fad740",
      "name": "Wait",
      "webhookId": "8eaeb2d4-4e06-4d0a-96e2-78b85ce50ae9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        -104
      ],
      "id": "4389824a-63fa-4f86-a3f1-27c9c50f13be",
      "name": "Wait2",
      "webhookId": "ed1d8f77-b6d8-4f7b-88af-45c8203478b3"
    }
  ],
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Token": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Consulta Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {}
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b34afefeccaafbecd055274ae7e23d91e7b424c24389ef44ab4220224cc053de"
  }
}
